# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# VS Code
.vscode/

# Build and Cache Folders (Global)
**/build/
**/.gradle/
**/.dart_tool/
**/.pub-cache/
**/.pub/
**/coverage/

# Flutter specific
.flutter-plugins
.flutter-plugins-dependencies
.metadata
**/ios/Flutter/.last_build_id

# Android specific
android/app/debug/
android/app/profile/
android/app/release/
android/app/build/
android/.gradle/
**/android/app/build/

# Symbolication and Maps
app.*.symbols
app.*.map.json

# Web related
node_modules/
package-lock.json

# Environment/Secrets
.env
google-services.json
GoogleService-Info.plist

# Project specific
debug_logs/
*.txt
*.log
.vercel
